/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
 * Variables
 */
$break-med: 576px;
$break-lg: 768px;

/*
 * Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*
 * App CSS
 */

/* phone, 1 col */
.row {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;

    .col {
        box-sizing: border-box;
        float: left;
        padding: 0 15px;
        margin: 0 auto;
        width: 100%;
    }
}


/* tablet 3 col */
@media (min-width: $break-med) {
    .row {
        .col {

            &.m-1 {
                width: 33%;
            }

            &.m-2 {
                width: 66%;
            }

            &.m-3 {
                width: 100%;
            }
        }
    }
}

/* Desktop 12 col */
@media (min-width: $break-lg) {
    .row {
        .col {
            &.l-1 {
                width: 8%;
            }

            &.l-2 {
                width: 16%;
            }

            &.l-3 {
                width: 25%;
            }

            &.l-4 {
                width: 33.33%;
            }

            &.l-5 {
                width: 42%;
            }

            &.l-6 {
                width: 50%;
            }

            &.l-7 {
                width: 58%;
            }

            &.l-8 {
                width: 66.66%;
            }

            &.l-9 {
                width: 74%;
            }

            &.l-10 {
                width: 84%;
            }

            &.l-11 {
                width: 92%;
            }

            &.l-12 {
                width: 100%;
            }
        }
    }
}

/* Fancy stuff */
.row .col.nav {
    opacity: .38;
    background-color: black;
    position: fixed;
    bottom: 0;

    ul {
        overflow: hidden;
        text-align: center;

        li {
            display: block;
            background-color: none;
            color: white;
            font-family: 'Oswald', sans-serif;
            float: left;
            text-align: center;
            width: 25%;
            padding: 20px 0;

            @media (min-width: $break-med) {
                padding: 16px 0;
            }

            @media (min-width: $break-lg) {
                width: 20%;
            }
        }
    }

    @media (min-width: $break-med) {
        right: 0;
        bottom: auto;
        width: $break-med;
    }

    @media (min-width: $break-lg) {
        text-align: left;
        width: 50%;
    }
}