/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
 * Variables
 */
$break-med: 576px;
$break-lg: 768px;

$transparent-black: rgba(0, 0, 0, .38);

/*
 * Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

@mixin oswald-bold() {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

@mixin oswald-regular() {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

/*
 * Other mixins
 */
@mixin hero-header($font-size) {
    @include oswald-regular();
    text-align: right;
    background-color: $transparent-black;
    color: white;
    font-size: $font-size;
}

/*
 * App CSS
 */

/* phone, 1 col */
.row {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;

    .col {
        box-sizing: border-box;
        float: left;
        padding: 0 15px;
        margin: 0 auto;
        width: 100%;
    }
}


/* tablet 3 col */
@media (min-width: $break-med) {
    .row {
        .col {

            &.m-1 {
                width: 33%;
            }

            &.m-2 {
                width: 66%;
            }

            &.m-3 {
                width: 100%;
            }
        }
    }
}

/* Desktop 12 col */
@media (min-width: $break-lg) {
    .row {
        .col {
            &.l-1 {
                width: 8%;
            }

            &.l-2 {
                width: 16%;
            }

            &.l-3 {
                width: 25%;
            }

            &.l-4 {
                width: 33.33%;
            }

            &.l-5 {
                width: 42%;
            }

            &.l-6 {
                width: 50%;
            }

            &.l-7 {
                width: 58%;
            }

            &.l-8 {
                width: 66.66%;
            }

            &.l-9 {
                width: 74%;
            }

            &.l-10 {
                width: 84%;
            }

            &.l-11 {
                width: 92%;
            }

            &.l-12 {
                width: 100%;
            }
        }
    }
}

/* Fancy stuff */
.container {
    width: 100%;
    height: 100vh;
}

.row .col.nav {
    background-color: $transparent-black;
    position: fixed;
    bottom: 0;

    ul {
        overflow: hidden;
        text-align: center;

        li {
            a {
                text-decoration: none;
                display: block;
                background-color: none;
                color: white;
                @include oswald-bold();
                float: left;
                text-align: center;
                width: 25%;
                padding: 20px 0;

                @media (min-width: $break-med) {
                    padding: 16px 0;
                }

                @media (min-width: $break-lg) {
                    width: 20%;
                }
            }
            
        }
    }

    @media (min-width: $break-med) {
        top: 0;
        right: 0;
        bottom: auto;
        width: $break-med;
    }

    @media (min-width: $break-lg) {
        text-align: left;
        width: 50%;
    }
}

.row.hero {
    position: relative;
    height: 100vh;

    &::after {
        content:"";
        background-image: url(../img/hero_image2.jpg);
        background-size: 1200px;
        background-position: top 0 right -300px;
        opacity: .72;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .col {
        padding-left: 0;
        padding-top: 70px;

        h1 {
            @include hero-header(48px);
            padding: 18px 34px 9px 34px;
            margin-right: 34px;

            @media (min-width: $break-med) {
                margin-right: 0;
            }
        }

        h2 {
            @include hero-header(36px);
            padding: 0 34px 18px 34px;
            margin-right: 34px;

            @media (min-width: $break-med) {
                margin-right: 0;
            }
        }

        a {
            display: block;
            @include hero-header(16px);
            padding: 9px 34px;
            margin-top: 36px;
            margin-right: 106px;

            @media (min-width: $break-med) {
                margin-right: 72px;
            }
        }

        @media (min-width: $break-med) {
            padding-top: 70px;
        }
    }

    @media (min-width: $break-med) {
        height: 371px;

        &::after{
            background-size: 900px;
            background-position: top 0 right -90px;
        }
    }

    @media (min-width: $break-lg) {
        &::after {
            background-size: 100%;
            background-position: bottom 50% right 0;
        }
    }
}